html, body {
    margin: 10;
    padding: 10;
}

.grid {
    width: 200px;
    height: 200px;
    border: solid 2px black;
    display: flex;
    flex-wrap: wrap;
    background-image: url('garden.jpg');
}

.square {
    width: 20px;
    height: 20px;

}
.snake{
  background-color: blue;


}
.apple {

    background-color: red;

}
